body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: #eee;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 1.2rem;
  line-height: 40px;
}
button.with-text svg {
  width: 40px;
  float: left;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 15px;
  margin-top: 25px;
  text-transform: capitalize;
}
